<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Книги<span class="caret"></span></a>
<ul class="dropdown-menu menu_heigh">
    <li class="dropdown-submenu">
        <a href="#">Жизнь - это Движение</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                @Html.ActionLink("Введение", "lifego", "lifego")
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Здоровье", "health", "lifego")</li>
                    <li>@Html.ActionLink("Остеохондроз", "osteochondrosis", "lifego")</li>
                    <li>@Html.ActionLink("Наши Мышцы", "mysshtsy", "lifego")</li>
                    <li>@Html.ActionLink("Что такое Мышца?", "whomysshtsy", "lifego")</li>
                    <li>@Html.ActionLink("Расслабление", "relaxation", "lifego")</li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                @Html.ActionLink("Азбука СФА", "gold_rules", "lifego")
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Зарядка для Хвоста", "charging_for_tail", "lifego")</li>
                    <li>@Html.ActionLink("Самостоятельно", "singly", "lifego")</li>
                    <li>@Html.ActionLink("Брусья", "Bars", "lifego")</li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                @Html.ActionLink("Дыхание", "breathing_exercises", "lifego")
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Упражнения", "breathing_exercises_relax", "lifego")</li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                @Html.ActionLink("Массаж", "massage", "lifego")
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Массаж и боль", "massage_and_pain", "lifego")</li>
                    <li>@Html.ActionLink("Дуэт", "massage_is_available_to_everyone", "lifego")</li>
                    <li>@Html.ActionLink("Классический массаж", "classic_massage", "lifego")</li>
                    <li>@Html.ActionLink("Тайский массаж", "thai_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж ног", "foot_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж таза", "pelvic_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж живота", "abdominal_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж шеи", "neck_massage", "lifego")</li>
                    <li>@Html.ActionLink("Заключение", "conclusion", "lifego")</li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                @Html.ActionLink("Приложение", "attachment", "lifego")
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Острый период 1", "acute_period1", "lifego")</li>
                    <li>@Html.ActionLink("Острый период 2", "acute_period2", "lifego")</li>
                    <li>@Html.ActionLink("Острый период 3", "acute_period3", "lifego")</li>
                    <li>@Html.ActionLink("Специальные", "special", "lifego")</li>
                    <li>@Html.ActionLink("Методика", "metodika", "lifego")</li>
                    <li>@Html.ActionLink("Памятка", "all", "lifego")</li>
                </ul>
            </li>
        </ul>
    </li>

    @*Вторая книга*@
    <li class="dropdown-submenu">
        <a href="#">СФА</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                @Html.ActionLink("Предисловие", "Spa", "Spa")
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Информация для вас", "aussage", "Spa")</li>
                    <li>@Html.ActionLink("Вопросы глобальные", "globalIssues", "Spa")</li>
                    <li>@Html.ActionLink("Шире о здоровье", "more_about_health", "Spa")</li>
                    <li>@Html.ActionLink("Состояние мышц", "spastic_muscle_condition", "Spa")</li>
                    @*<li>@Html.ActionLink("Что такое Мышца?", "Whomysshtsy", "lifego")</li>
                        <li>@Html.ActionLink("Расслабление", "Relaxation", "lifego")</li>*@
                </ul>
            </li>
            @*<li class="dropdown-submenu">
                    @Html.ActionLink("Азбука СФА", "Gold_rules", "lifego")
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Зарядка для Хвоста", "Charging_for_tail", "lifego")</li>
                        <li>@Html.ActionLink("Самостоятельно", "Singly", "lifego")</li>
                        <li>@Html.ActionLink("Брусья", "Bars", "lifego")</li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    @Html.ActionLink("Дыхание", "Breathing_exercises", "lifego")
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Упражнения", "Breathing_exercises_relax", "lifego")</li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    @Html.ActionLink("Массаж", "Massage", "lifego")
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Массаж и боль", "Massage_and_pain", "lifego")</li>
                        <li>@Html.ActionLink("Дуэт", "Massage_is_available_to_everyone", "lifego")</li>
                        <li>@Html.ActionLink("Классический массаж", "Classic_massage", "lifego")</li>
                        <li>@Html.ActionLink("Тайский массаж", "Thai_massage", "lifego")</li>
                        <li>@Html.ActionLink("Массаж ног", "Foot_massage", "lifego")</li>
                        <li>@Html.ActionLink("Массаж таза", "Pelvic_massage", "lifego")</li>
                        <li>@Html.ActionLink("Массаж живота", "Abdominal_massage", "lifego")</li>
                        <li>@Html.ActionLink("Массаж шеи", "Neck_massage", "lifego")</li>
                        <li>@Html.ActionLink("Заключение", "Conclusion", "lifego")</li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    @Html.ActionLink("Приложение", "Attachment", "lifego")
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Острый период 1", "Acute_period1", "lifego")</li>
                        <li>@Html.ActionLink("Острый период 2", "Acute_period2", "lifego")</li>
                        <li>@Html.ActionLink("Острый период 3", "Acute_period3", "lifego")</li>
                        <li>@Html.ActionLink("Специальные", "Special", "lifego")</li>
                        <li>@Html.ActionLink("Методика", "Metodika", "lifego")</li>
                        <li>@Html.ActionLink("Памятка", "All", "lifego")</li>
                    </ul>
                </li>*@
        </ul>
    </li>
</ul>

