<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Книги<span class="caret"></span></a>
<ul class="dropdown-menu menu_heigh">
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Книги</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                @*@Html.ActionLink("Жизнь - это Движение", "LifeGo", "Lifego")*@
                <a href="#">Жизнь - это Движение</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        @Html.ActionLink("Введение", "LifeGo", "Lifego")
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Здоровье", "SmailPhilosophy", "Lifego")</li>
                            <li>@Html.ActionLink("Остеохондроз", "Osteochondrosis", "Lifego")</li>
                            <li>@Html.ActionLink("Наши Мышцы", "Mysshtsy", "Lifego")</li>
                            <li>@Html.ActionLink("Что такое Мышца?", "Whomysshtsy", "Lifego")</li>
                            <li>@Html.ActionLink("Расслабление", "Relaxation", "Lifego")</li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        @Html.ActionLink("Азбука СФА", "Gold_rules", "Lifego")
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Зарядка для Хвоста", "Charging_for_tail", "Lifego")</li>
                            <li>@Html.ActionLink("Самостоятельно", "Singly", "Lifego")</li>
                            <li>@Html.ActionLink("Брусья", "Bars", "Lifego")</li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        @Html.ActionLink("Дыхание", "Breathing_exercises", "Lifego")
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Упражнения", "Breathing_exercises_relax", "Lifego")</li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        @Html.ActionLink("Массаж", "Massage", "Lifego")
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Массаж и боль", "Massage_and_pain", "Lifego")</li>
                            <li>@Html.ActionLink("Дуэт", "Massage_is_available_to_everyone", "Lifego")</li>
                            <li>@Html.ActionLink("Классический массаж", "Classic_massage", "Lifego")</li>
                            <li>@Html.ActionLink("Тайский массаж", "Thai_massage", "Lifego")</li>
                            <li>@Html.ActionLink("Массаж ног", "Foot_massage", "Lifego")</li>
                            <li>@Html.ActionLink("Массаж таза", "Pelvic_massage", "Lifego")</li>
                            <li>@Html.ActionLink("Массаж живота", "Abdominal_massage", "Lifego")</li>
                            <li>@Html.ActionLink("Массаж шеи", "Neck_massage", "Lifego")</li>
                            <li>@Html.ActionLink("Заключение", "Conclusion", "Lifego")</li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        @Html.ActionLink("Приложение", "Attachment", "Lifego")
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Острый период 1", "Acute_period1", "Lifego")</li>
                            <li>@Html.ActionLink("Острый период 2", "Acute_period2", "Lifego")</li>
                            <li>@Html.ActionLink("Острый период 3", "Acute_period3", "Lifego")</li>
                            <li>@Html.ActionLink("Специальные", "Special", "Lifego")</li>
                            <li>@Html.ActionLink("Методика", "Metodika", "Lifego")</li>
                            <li>@Html.ActionLink("Памятка", "All", "Lifego")</li>
                        </ul>
                    </li>
                </ul>
            </li>

            @*Вторая книга*@

            <li class="dropdown-submenu">
                @*@Html.ActionLink("СФА", "Spa", "Spa")*@
                <a href="#">СФА</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        @Html.ActionLink("Предисловие", "Spa", "Spa")
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Информация для вас", "Aussage", "Spa")</li>
                            <li>@Html.ActionLink("Вопросы глобальные", "GlobalIssues", "Spa")</li>
                            @*<li>@Html.ActionLink("Что такое Мышца?", "Whomysshtsy", "Lifego")</li>
                            <li>@Html.ActionLink("Расслабление", "Relaxation", "Lifego")</li>*@
                        </ul>
                    </li>
                    @*<li class="dropdown-submenu">
                            @Html.ActionLink("Азбука СФА", "Gold_rules", "Lifego")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Зарядка для Хвоста", "Charging_for_tail", "Lifego")</li>
                                <li>@Html.ActionLink("Самостоятельно", "Singly", "Lifego")</li>
                                <li>@Html.ActionLink("Брусья", "Bars", "Lifego")</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            @Html.ActionLink("Дыхание", "Breathing_exercises", "Lifego")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Упражнения", "Breathing_exercises_relax", "Lifego")</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            @Html.ActionLink("Массаж", "Massage", "Lifego")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Массаж и боль", "Massage_and_pain", "Lifego")</li>
                                <li>@Html.ActionLink("Дуэт", "Massage_is_available_to_everyone", "Lifego")</li>
                                <li>@Html.ActionLink("Классический массаж", "Classic_massage", "Lifego")</li>
                                <li>@Html.ActionLink("Тайский массаж", "Thai_massage", "Lifego")</li>
                                <li>@Html.ActionLink("Массаж ног", "Foot_massage", "Lifego")</li>
                                <li>@Html.ActionLink("Массаж таза", "Pelvic_massage", "Lifego")</li>
                                <li>@Html.ActionLink("Массаж живота", "Abdominal_massage", "Lifego")</li>
                                <li>@Html.ActionLink("Массаж шеи", "Neck_massage", "Lifego")</li>
                                <li>@Html.ActionLink("Заключение", "Conclusion", "Lifego")</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            @Html.ActionLink("Приложение", "Attachment", "Lifego")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Острый период 1", "Acute_period1", "Lifego")</li>
                                <li>@Html.ActionLink("Острый период 2", "Acute_period2", "Lifego")</li>
                                <li>@Html.ActionLink("Острый период 3", "Acute_period3", "Lifego")</li>
                                <li>@Html.ActionLink("Специальные", "Special", "Lifego")</li>
                                <li>@Html.ActionLink("Методика", "Metodika", "Lifego")</li>
                                <li>@Html.ActionLink("Памятка", "All", "Lifego")</li>
                            </ul>
                        </li>*@
                </ul>
            </li>
        </ul>
    </li>
</ul>

