<a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Книги<span class="caret"></span></a>
<ul class=" menu_heigh">

    @*Первая книга*@

    <li class="">
        <a href="#">Жизнь - это Движение<span class="caret"></span></a>
        <ul class="" style="list-style-type:none;">
            <li class="">
                @Html.ActionLink("Введение", "lifego", "lifego")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Здоровье", "health", "lifego")</li>
                    <li>@Html.ActionLink("Остеохондроз", "osteochondrosis", "lifego")</li>
                    <li>@Html.ActionLink("Наши Мышцы", "mysshtsy", "lifego")</li>
                    <li>@Html.ActionLink("Что такое Мышца?", "whomysshtsy", "lifego")</li>
                    <li>@Html.ActionLink("Расслабление", "relaxation", "lifego")</li>
                </ul>
            </li>
            <li class="">
                @Html.ActionLink("Азбука СФА", "gold_rules", "lifego")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Зарядка для Хвоста", "charging_for_tail", "lifego")</li>
                    <li>@Html.ActionLink("Самостоятельно", "singly", "lifego")</li>
                    <li>@Html.ActionLink("Брусья", "Bars", "lifego")</li>
                </ul>
            </li>
            <li class="">
                @Html.ActionLink("Дыхание", "breathing_exercises", "lifego")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Упражнения", "breathing_exercises_relax", "lifego")</li>
                </ul>
            </li>
            <li class="">
                @Html.ActionLink("Массаж", "massage", "lifego")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Массаж и боль", "massage_and_pain", "lifego")</li>
                    <li>@Html.ActionLink("Дуэт", "massage_is_available_to_everyone", "lifego")</li>
                    <li>@Html.ActionLink("Классический массаж", "classic_massage", "lifego")</li>
                    <li>@Html.ActionLink("Тайский массаж", "thai_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж ног", "foot_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж таза", "pelvic_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж живота", "abdominal_massage", "lifego")</li>
                    <li>@Html.ActionLink("Массаж шеи", "neck_massage", "lifego")</li>
                    <li>@Html.ActionLink("Заключение", "conclusion", "lifego")</li>
                </ul>
            </li>
            <li class="">
                @Html.ActionLink("Приложение", "attachment", "lifego")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Острый период 1", "acute_period1", "lifego")</li>
                    <li>@Html.ActionLink("Острый период 2", "acute_period2", "lifego")</li>
                    <li>@Html.ActionLink("Острый период 3", "acute_period3", "lifego")</li>
                    <li>@Html.ActionLink("Специальные", "special", "lifego")</li>
                    <li>@Html.ActionLink("Методика", "metodika", "lifego")</li>
                    <li>@Html.ActionLink("Памятка", "all", "lifego")</li>
                </ul>
            </li>
        </ul>
    </li>

    @*Вторая книга*@

    <li class="">
        <a href="#">СФА<span class="caret"></span></a>
        <ul class="" style="list-style-type:none;">
            <li class="">
                @Html.ActionLink("Предисловие", "spa", "spa")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Информация для вас", "aussage", "spa")</li>
                    <li>@Html.ActionLink("Вопросы глобальные", "globalIssues", "spa")</li>
                    <li>@Html.ActionLink("Шире о здоровье", "more_about_health", "spa")</li>
                    <li>@Html.ActionLink("Состояние мышц", "spastic_muscle_condition", "spa")</li>
                    <li>@Html.ActionLink("Баланс питания", "balanced_diet", "spa")</li>
                </ul>
            </li>
            <li class="">
                @Html.ActionLink("Физическая активность", "physical_activity", "spa")
                <ul class="" style="list-style-type:none;">
                    <li>@Html.ActionLink("Воспитание здоровья", "health_education", "spa")</li>
                    <li>@Html.ActionLink("Биомеханика", "biomechanics", "spa")</li>
                    <li>@Html.ActionLink("Банальные истины", "commonplace_truths", "spa")</li>
                    <li>@Html.ActionLink("Последствия травмы", "effects_of_injury", "spa")</li>
                    <li>@Html.ActionLink("Метод проб и ошибок", "trial_error_method", "spa")</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>


