<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">@*Для максимальной совместимости bootstrap с IE*@
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    @RenderSection("meta", required: false)
    @Styles.Render("~/Content/mobilecss")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="yandex-verification" content="f5b2d5899e04a195" />
</head>

<body>
    <header>

        @*Навигация*@
        @Html.Partial("~/Views/Shared/_navbar_mobile.cshtml")

    </header>

    @*Слайдер*@
    @Html.Partial("~/Views/Shared/_slider.cshtml")

    @*Левая и правая колонки*@
    <div id="wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" id="right">
                        <div id="loadcontent">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Футер*@
    <footer class="navbar navbar-inverse">
        <div class="container">
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>
    </footer>

    @Scripts.Render("~/bundles/mobilejquery")
    @RenderSection("scripts", required: false)
</body>
</html>
