@using spalpuGitHubIdentity4.NewAjaxActionLink
@{
    AjaxOptions ajaxopts = new AjaxOptions()
    {
        UpdateTargetId = "loadcontent",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnSuccess = "OnSuccessJs",//В случае  успеха загружает Url адрес
        OnComplete = "OnCompleteJs" //Поднимает вверх страницы
    };
}
@*<h4>@Ajax.ActionLink("Жизнь - это Движение", "Index", "Home", new { strpage = "lifego/_lifego" }, ajaxopts, null)</h4>*@
@*<h4><a href="#" id="life">Жизнь - это Движение</a></h4>*@
<ul id="menu">

    @*Первая книга*@

    <li class="active">
        @*@Ajax.RawActionLink("Жизнь - это Движение <span class='fa arrow'></span>", "Index", "Home", new { strpage = "lifego/_lifego" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/lifego", data_mytitle = "" })*@
        @*<a href="#" class="link1">Жизнь - это Движение<span class="color_arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></a>*@
        <span class="link1 move">Жизнь - это Движение<span class="color_arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></span>
        <ul class="book1">
            <li>
                @Ajax.RawActionLink("Введение <span class='fa arrow'></span>", "Index", "Home", new { strpage = "lifego/_lifego" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/lifego", data_mytitle = "Жизнь - это Движение" })
                <ul>
                    <li>@Ajax.ActionLink("Здоровье", "Index", "Home", new { strpage = "lifego/_smailphilosophy" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/health", data_mytitle = "Здоровье" })</li>
                    <li>@Ajax.ActionLink("Остеохондроз", "Index", "Home", new { strpage = "lifego/_osteochondrosis" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/osteochondrosis", data_mytitle = "Остеохондроз" })</li>
                    <li>@Ajax.ActionLink("Наши мышцы", "Index", "Home", new { strpage = "lifego/_mysshtsy" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/mysshtsy", data_mytitle = "Мышцы" })</li>
                    <li>@Ajax.ActionLink("Что мышца?", "Index", "Home", new { strpage = "lifego/_whomysshtsy" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/whomysshtsy", data_mytitle = "Что такое мышца?" })</li>
                    <li>@Ajax.ActionLink("Расслабление", "Index", "Home", new { strpage = "lifego/_relaxation" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/relaxation", data_mytitle = "Расслабление" })</li>
                </ul>
            </li>
            <li>
                @Ajax.RawActionLink("Азбука СФА <span class='fa arrow'></span>", "Index", "Home", new { strpage = "lifego/SPHA/_gold_rules" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/gold_rules", data_mytitle = "Золотое правило" })
                <ul>
                    <li>@Ajax.ActionLink("Зарядка хвоста", "Index", "Home", new { strpage = "lifego/SPHA/_charging_for_tail" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/charging_for_tail", data_mytitle = "Зарядка для хвоста" })</li>
                    <li>@Ajax.ActionLink("Самостоятельно", "Index", "Home", new { strpage = "lifego/SPHA/_singly" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/singly", data_mytitle = "Самостоятельные занятия" })</li>
                    <li>@Ajax.ActionLink("Брусья", "Index", "Home", new { strpage = "lifego/SPHA/_bars" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/bars", data_mytitle = "Брусья" })</li>
                </ul>
            </li>
            <li>
                @Ajax.RawActionLink("Дыхание <span class='fa arrow'></span>", "Index", "Home", new { strpage = "lifego/SPHA/_breathing_exercises" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/breathing_exercises", data_mytitle = "Дыхательные упражнения" })
                <ul>
                    <li>@Ajax.ActionLink("Упражнения", "Index", "Home", new { strpage = "lifego/SPHA/_breathing_exercises_relax" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/breathing_exercises_relax", data_mytitle = "Дыхательная гимнастика" })</li>
                </ul>
            </li>
            <li>
                @Ajax.RawActionLink("Массаж <span class='fa arrow'></span>", "Index", "Home", new { strpage = "lifego/SPHA/_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/massage", data_mytitle = "Массаж" })
                <ul>
                    <li>@Ajax.ActionLink("Массаж и боль", "Index", "Home", new { strpage = "lifego/SPHA/_massage_and_pain" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/massage_and_pain", data_mytitle = "Массаж и боль" })</li>
                    <li>@Ajax.ActionLink("Дуэт", "Index", "Home", new { strpage = "lifego/SPHA/_Massage_is_available_to_everyone" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/massage_is_available_to_everyone", data_mytitle = "Массаж доступен каждому" })</li>
                    <li>@Ajax.ActionLink("Классический массаж", "Index", "Home", new { strpage = "lifego/SPHA/_classic_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/classic_massage", data_mytitle = "Классический массаж" })</li>
                    <li>@Ajax.ActionLink("Тайский массаж", "Index", "Home", new { strpage = "lifego/SPHA/_Thai_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/thai_massage", data_mytitle = "Тайский массаж" })</li>
                    <li>@Ajax.ActionLink("Массаж ног", "Index", "Home", new { strpage = "lifego/SPHA/_foot_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/foot_massage", data_mytitle = "Массаж ног" })</li>
                    <li>@Ajax.ActionLink("Массаж таза", "Index", "Home", new { strpage = "lifego/SPHA/_pelvic_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/pelvic_massage", data_mytitle = "Массаж таза" })</li>
                    <li>@Ajax.ActionLink("Массаж живота", "Index", "Home", new { strpage = "lifego/SPHA/_abdominal_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/abdominal_massage", data_mytitle = "Массаж живота" })</li>
                    <li>@Ajax.ActionLink("Массаж шеи", "Index", "Home", new { strpage = "lifego/SPHA/_neck_massage" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/neck_massage", data_mytitle = "Массаж шеи" })</li>
                    <li>@Ajax.ActionLink("Заключение", "Index", "Home", new { strpage = "lifego/SPHA/_conclusion" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/conclusion", data_mytitle = "Заключение" })</li>
                </ul>
            </li>
            <li>
                @Ajax.RawActionLink("Приложение <span class='fa arrow'></span>", "Index", "Home", new { strpage = "lifego/SPHA/_attachment" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/attachment", data_mytitle = "Лечебная физкультура. Упражнения для спины." })
                <ul>
                    <li>@Ajax.ActionLink("Острый период 1", "Index", "Home", new { strpage = "lifego/SPHA/_acute_period1" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/acute_period1", data_mytitle = "Комплекс лечебной гимнастики" })</li>
                    <li>@Ajax.ActionLink("Острый период 2", "Index", "Home", new { strpage = "lifego/SPHA/_acute_period2" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/acute_period2", data_mytitle = "Специальные упражнения  острого периода" })</li>
                    <li>@Ajax.ActionLink("Острый период 3", "Index", "Home", new { strpage = "lifego/SPHA/_acute_period3" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/acute_period3", data_mytitle = "Комплекс лечебной гимнастики острого периода" })</li>
                    <li>@Ajax.ActionLink("Специальные", "Index", "Home", new { strpage = "lifego/SPHA/_special" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/special", data_mytitle = "Специальные упражнения" })</li>
                    <li>@Ajax.ActionLink("Методика", "Index", "Home", new { strpage = "lifego/SPHA/_metodika" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/metodika", data_mytitle = "Двигательный режим острого периода" })</li>
                    <li>@Ajax.ActionLink("Памятка", "Index", "Home", new { strpage = "lifego/SPHA/_all" }, ajaxopts, new { data_myurl = "http://localhost:4632/lifego/all", data_mytitle = "Неправильная и правильная нагрузка на позвоночник" })</li>
                </ul>
            </li>
        </ul>
    </li>

    @*Вторая книга*@

    <li class="active">
        @*<a href="#" class="link2">СФА<span class="color_arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></a>*@
        <span class="link2 move">СФА<span class="color_arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></span>
        @*@Ajax.RawActionLink("СФА <span class='fa arrow'></span>", "Index", "Home", new { strpage = "spa/_spa" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/spa", data_mytitle = "" })*@
        <ul class="book2">
            <li>
                @Ajax.RawActionLink("Предисловие <span class='fa arrow'></span>", "Index", "Home", new { strpage = "spa/_spa" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/spa", data_mytitle = "Предисловия не читают" })
                <ul>
                    <li>@Ajax.ActionLink("Информ для вас", "Index", "Home", new { strpage = "spa/_aussage" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/aussage", data_mytitle = "Информация для вас" })</li>
                    <li>@Ajax.ActionLink("Вопросы глобал", "Index", "Home", new { strpage = "spa/_globalIssues" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/globalIssues", data_mytitle = "Вопросы глобальные" })</li>
                    <li>@Ajax.ActionLink("Шире о здоровье", "Index", "Home", new { strpage = "spa/_more_about_health" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/more_about_health", data_mytitle = "Шире о здоровье" })</li>
                    <li>@Ajax.ActionLink("Состояние мышц", "Index", "Home", new { strpage = "spa/_spastic_muscle_condition" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/spastic_muscle_condition", data_mytitle = "Состояние мышц" })</li>
                    <li>@Ajax.ActionLink("Баланс питания", "Index", "Home", new { strpage = "spa/_balanced_diet" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/balanced_diet", data_mytitle = "Баланс питания" })</li>
                </ul>
            </li>
            <li>
                @Ajax.RawActionLink("Физ. активность <span class='fa arrow'></span>", "Index", "Home", new { strpage = "spa/PHIZ/_physical_activity" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/physical_activity", data_mytitle = "Физическая активность" })
                <ul>
                    <li>@Ajax.ActionLink("Воспит. здоровья", "Index", "Home", new { strpage = "spa/PHIZ/_health_education" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/health_education", data_mytitle = "Воспитание здоровья" })</li>
                    <li>@Ajax.ActionLink("Биомеханика", "Index", "Home", new { strpage = "spa/PHIZ/_biomechanics" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/biomechanics", data_mytitle = "Биомеханика" })</li>
                    <li>@Ajax.ActionLink("Банальные истин", "Index", "Home", new { strpage = "spa/PHIZ/_commonplace_truths" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/commonplace_truths", data_mytitle = "Банальные истины" })</li>
                    <li>@Ajax.ActionLink("Последств травм", "Index", "Home", new { strpage = "spa/PHIZ/_effects_of_injury" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/effects_of_injury", data_mytitle = "Последствия травмы" })</li>
                    <li>@Ajax.ActionLink("Метод проб и ош", "Index", "Home", new { strpage = "spa/PHIZ/_trial_error_method" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/trial_error_method", data_mytitle = "Метод проб и ошибок" })</li>
                    <li>@Ajax.ActionLink("Психолог установ", "Index", "Home", new { strpage = "spa/PHIZ/_psychological_attitudes" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/psychological_attitudes", data_mytitle = "Положительные психологические установки" })</li>
                </ul>
            </li>
            <li>
                @Ajax.RawActionLink("Физ. занятия <span class='fa arrow'></span>", "Index", "Home", new { strpage = "spa/PHIZ/_physical_activities" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/physical_activities", data_mytitle = "Физические занятия" })
                <ul>
                    <li>@Ajax.ActionLink("Расслабление", "Index", "Home", new { strpage = "spa/PHIZ/_relaxation" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/relaxation", data_mytitle = "Расслабление" })</li>
                    <li>@Ajax.ActionLink("Волевое расслаб", "Index", "Home", new { strpage = "spa/PHIZ/_stress_relaxation" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/stress_relaxation", data_mytitle = "Волевое расслабление" })</li>
                    <li>@Ajax.ActionLink("Послед лир отст", "Index", "Home", new { strpage = "spa/PHIZ/_last_lyrical_digression" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/last_lyrical_digression", data_mytitle = "Последнее ‘лирическое отступление’" })</li>
                    <li>@Ajax.ActionLink("Желание двигат", "Index", "Home", new { strpage = "spa/PHIZ/_desire_to_move" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/desire_to_move", data_mytitle = "Желание двигаться" })</li>
                    <li>@Ajax.ActionLink("Динамика движе", "Index", "Home", new { strpage = "spa/PHIZ/_driving_dynamics" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/driving_dynamics", data_mytitle = "Динамика движения" })</li>
                    <li>@Ajax.ActionLink("Двигат расслабл", "Index", "Home", new { strpage = "spa/PHIZ/_move_relaxed" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/move_relaxed", data_mytitle = "Двигаться расслаблено" })</li>
                    <li>@Ajax.ActionLink("Как сломать кир", "Index", "Home", new { strpage = "spa/PHIZ/_how_to_break_a_brick" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/how_to_break_a_brick", data_mytitle = "Как сломать кирпич" })</li>
                    <li>@Ajax.ActionLink("Приход-расход энергии", "Index", "Home", new { strpage = "spa/PHIZ/_energy_consumption" }, ajaxopts, new { data_myurl = "http://localhost:4632/spa/energy_consumption", data_mytitle = "Приход-расход энергии" })</li>

                </ul>
            </li>
        </ul>
    </li>
</ul>