@using spalpuGitHubIdentity4.NewAjaxActionLink
@{
    AjaxOptions ajaxopts = new AjaxOptions()
    {
        UpdateTargetId = "loadcontent",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnSuccess = "OnSuccessJs" //В случае  успеха загружает Url адрес
    };
}
@*<h4>@Ajax.ActionLink("Жизнь - это Движение", "Index", "Home", new { strpage = "LifeGo/_lifego" }, ajaxopts, null)</h4>*@
<h4><a href="#" id="life">Жизнь - это Движение</a></h4>
<ul id="menu">
    @*<li class="active">*@
    <li>
        @Ajax.RawActionLink("Жизнь - это Движение <span class='fa arrow'></span>", "Index", "Home", new { strpage = "LifeGo/_lifego" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/LifeGo", myTitle = "" })
        <ul class="dropdown-menu">
            <li>@Ajax.ActionLink("Здоровье", "Index", "Home", new { strpage = "LifeGo/_smailphilosophy" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/SmailPhilosophy", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Остеохондроз", "Index", "Home", new { strpage = "LifeGo/_osteochondrosis" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Osteochondrosis", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Наши Мышцы", "Index", "Home", new { strpage = "LifeGo/_mysshtsy" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Mysshtsy", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Что такое Мышца?", "Index", "Home", new { strpage = "LifeGo/_whomysshtsy" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Whomysshtsy", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Расслабление", "Index", "Home", new { strpage = "LifeGo/_relaxation" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Relaxation", myTitle = "" })</li>
        </ul>
    </li>
    <li>
        @Ajax.RawActionLink("Азбука СФА <span class='fa arrow'></span>", "Index", "Home", new { strpage = "LifeGo/SPHA/_gold_rules" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Gold_rules", myTitle = "" })
        <ul>
            <li>@Ajax.ActionLink("Зарядка для Хвоста", "Index", "Home", new { strpage = "LifeGo/SPHA/_charging_for_tail" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Charging_for_tail", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Самостоятельно", "Index", "Home", new { strpage = "LifeGo/SPHA/_singly" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Singly", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Брусья", "Index", "Home", new { strpage = "LifeGo/SPHA/_bars" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Bars", myTitle = "" })</li>
        </ul>
    </li>
    <li>
        @Ajax.RawActionLink("Дыхание <span class='fa arrow'></span>", "Index", "Home", new { strpage = "LifeGo/SPHA/_breathing_exercises" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Breathing_exercises", myTitle = "" })
        <ul>
            <li>@Ajax.ActionLink("Упражнения", "Index", "Home", new { strpage = "LifeGo/SPHA/_breathing_exercises_relax" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Breathing_exercises_relax", myTitle = "" })</li>
        </ul>
    </li>
    <li>
        @Ajax.RawActionLink("Массаж <span class='fa arrow'></span>", "Index", "Home", new { strpage = "LifeGo/SPHA/_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Massage", myTitle = "" })
        <ul>
            <li>@Ajax.ActionLink("Массаж и боль", "Index", "Home", new { strpage = "LifeGo/SPHA/_massage_and_pain" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Massage_and_pain", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Дуэт", "Index", "Home", new { strpage = "LifeGo/SPHA/_Massage_is_available_to_everyone" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Massage_is_available_to_everyone", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Классический массаж", "Index", "Home", new { strpage = "LifeGo/SPHA/_classic_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Classic_massage", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Тайский массаж", "Index", "Home", new { strpage = "LifeGo/SPHA/_Thai_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Thai_massage", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Массаж ног", "Index", "Home", new { strpage = "LifeGo/SPHA/_foot_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Foot_massage", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Массаж таза", "Index", "Home", new { strpage = "LifeGo/SPHA/_pelvic_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Pelvic_massage", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Массаж живота", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Abdominal_massage", myTitle = "" })</li>
            <li>@Ajax.ActionLink("Массаж шеи", "Index", "Home", new { strpage = "LifeGo/SPHA/_neck_massage" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Neck_massage", myTitle = ""})</li>
            <li>@Ajax.ActionLink("Заключение", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Conclusion", myTitle = ""})</li>
        </ul>
    </li>
    <li>
        @Ajax.RawActionLink("Приложение <span class='fa arrow'></span>", "Index", "Home", new { strpage = "LifeGo/SPHA/_attachment" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Attachment", myTitle = ""})
        <ul>
            <li>@Ajax.ActionLink("Острый период 1", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Acute_period1", myTitle = ""})</li>
            <li>@Ajax.ActionLink("Острый период 2", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period2" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Acute_period2", myTitle = ""})</li>
            <li>@Ajax.ActionLink("Острый период 3", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Acute_period3", myTitle = ""})</li>
            <li>@Ajax.ActionLink("Специальные", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Special", myTitle = ""})</li>
            <li>@Ajax.ActionLink("Методика", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/Metodika", myTitle = ""})</li>
            <li>@Ajax.ActionLink("Памятка", "Index", "Home", new { strpage = "LifeGo/SPHA/_all" }, ajaxopts, new { myUrl = "http://spalpu.ru/Lifego/All", myTitle = ""})</li>
        </ul>
    </li>
</ul>

@*<li>
        @Ajax.ActionLink("Приложение", "Index", "Home", new { strpage = "LifeGo/SPHA/_attachment" }, ajaxopts)
        <ul>

            <li>@Ajax.ActionLink("Острый период 1", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, ajaxopts)</li>
            <li>@Ajax.ActionLink("Острый период 2", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period2" }, ajaxopts)</li>
            <li><a href="#">Под-подпапка 2</a></li>
            <li><a href="#">Под-подпапка 3</a></li>
        </ul>
    </li>*@
@*<li>
        <a href="#">Папка 3</a>
        <ul>
            <li>
                <a href="#">Подпапка 2</a>
                <ul>
                    <li><a href="#">Под-подпапка 1</a></li>
                    <li><a href="#">Под-подпапка 2</a></li>
                </ul>
            </li>
        </ul>
    </li>*@